body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo .p-logo{
    margin: 5px;
    width: 40px;
    height: 36px;
}
.logo .prod-logo{
    margin-left: 10px;
    width: 122px;
    height: 28px;
}
.menu{
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    margin-left: 30px;
}
nav a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    text-decoration: none;
}
nav .a-bold{
    font-weight: 600;
}
.sign{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sign div{
    margin-left: 20px;
}
.sign-in {
    padding-top: 10px;
    width: 102px;
    height: 43px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
}
.sign-in a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #173A56;
   padding: 20px 22px 0px 22px;
}
.sign-up{
    padding-top: 10px;
    width: 110px;
    height: 43px;
    background: #02897A;
    border-radius: 4px;
    box-sizing: border-box;
}
.sign-up a{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.top-sect{
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.a-pos{
    width: 100%;
    flex: 1 0 27%;
}
.b-pos{
    width: 100%;
    flex: 1 0 43%;
}
.a-pos h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}
.a-pos p{
    max-width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
}
.b-pos img{
    width: 100%;
}
.button-top{
    display: flex;
    margin-top: 50px;
    align-items: center;
    max-width: 100%;
}
.button-top .started{
    display: flex;
    width: 175px;
    height: 53px;
    background: #02897A;
    border-radius: 4px;
    padding-top: 15px;
    box-sizing: border-box;
    justify-content: center;
}
.button-top .started a{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;

}
.button-top div{
    margin-right: 40px;
}
.button-top .wtv{
    display: flex;
    max-width: 100%;
    margin-left: 10px;
    justify-content: center;
}
.button-top .wtv a{
    margin-top: -5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
}
.button-top img{
    display: flex;
    justify-content: center;
}
.product-t{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}
.product-t .title-product{
    margin-bottom: 60px;
}
.product-t .title-product h1{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.product-t .grey-fone{
    height: 400px;
    width: 2300px;
    max-width: 100%;
    border-radius: 0 0 90% 90%;
    background: linear-gradient(0deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);;
    margin-right: 1250px;
}
.sect-product {
    display: flex;
    max-width: 100%;
    justify-content: center;
}
.sect-product .click-test{
    margin-left: 140px;
}
.sect-product div{
 margin-right: 100px;
}
.sect-product img{
    max-width: 100%;
}
@media (max-width: 1480px){
    .sect-product div{
        margin-right: 5px;
    }
    .sect-product .click-test{
        margin-left: 10px;
    }
}
.button-product{
    margin-top:60px;
    Width: 175px;
    Height: 53px;
    background: #02897A;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-top: 15px;
}
.button-product a{
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    padding-left: 34px;
}
.management {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: 70%;
    margin-top: 169px;
    align-items: center;
}
.management .manage-img{
    flex: 1 0 45%;
}
.management .manage-text{
    flex: 1 0 45%;
    margin-right: 50px;
    width: 100%;
}
.management .manage-img img{
    max-width: 100%;
}
.all-man h2{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
    color: #22343D;
}
.all-man h1{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #22343D;
}
.all-man h3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.all-man p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.customer{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: 70%;
    margin-top: 169px;
    align-items: center;
}
.customer .customer-img{
    flex: 1 0 45%;
    margin-right: 180px;
}
.customer .customer-text{
    flex: 1 0 45%;
    width: 100%;
}
.customer .customer-img img{
    max-width: 120%;
}
.customer-list{
    display: flex;
    flex-direction: column;

}
.customer-list div{
    margin-bottom: 30px;
}
.customer-list-1{
    display: flex;
    align-items: center;
    width: 80%;
}
.customer-list-1 img{
    margin-right: 30px;
}
#customer-list-2{
    width: 93%;
}
#customer-list-3{
    width: 93%;
}
.col{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    width: 70%;
    margin-top: 169px;
    align-items: center;
}
.col .col-img{
    flex: 1 0 45%;
}
.col .col-text{
    flex: 1 0 45%;
    width: 100%;
    margin-right: 80px;
}
.col .col-img img{
    max-width: 120%;
}
.bg-grey-down{
    margin-top: 150px;
    height: 100%;
    width: 2300px;
    max-width: 100%;
    border-radius: 90% 90% 0 0;
    background: linear-gradient(179deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);;
}
.bg-grey-down .top-comment h1{
    font-style: normal;
    padding-top: 52px;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.bg-grey-down .top-comment p{
    max-width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
}
.bg-grey-down .top-comment{
    margin-bottom: 32px;
}
.comments {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 200px;

}
.comments div{
    flex: 1 0 70%;

}
.comments-contain {
    display: flex;
    align-items: center;
    max-width: 30%;
    width: 30%;
    margin-right: 170px;
    margin-bottom: 30px;
}
.check {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    height: 53px;
    border-radius: 26.5px;
    box-sizing: border-box;
    padding-top: 15px;
}
#comments-contain-1 img{
    margin-right: 30px;
}
.check span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    margin-left: 23px
}
.comments .circle-com-1 {
    position: absolute;
    background: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 165px;
    margin-top:47px;
}
#comments-contain-2 img{
    margin-left: 30px;
}
#comments-contain-2{
    max-width: 27%;
    width: 27%;
}
.comments .circle-com-2 {
    position: absolute;
    background: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 185px;
    margin-top:47px;
}
#comments-contain-3 img{
    margin-left: 30px;
}
#comments-contain-3{
    max-width: 27%;
    width: 27%;
}
.comments .circle-com-3 {
    position: absolute;
    background: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 180px;
    margin-top:47px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
}
#comments-contain-4 img{
    margin-right: 30px;
}
#comments-contain-4 {
    max-width: 31%;
    width: 31%;
}
.comments .circle-com-4 {
    position: absolute;
    background: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 170px;
    margin-top:47px;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
}
@media (max-width: 1400px)
{
    .comments-contain{
        max-width: 50%;
    }
    #comments-contain-2{
        max-width: 45%;
    }
    #comments-contain-3{
        max-width: 45%;
    }
    #comments-contain-4{
        max-width: 51%;
    }
}
@media (min-width: 1800px)
{
    .comments-contain{
        max-width: 25%;
    }
    #comments-contain-2{
        max-width: 25%;
    }
    #comments-contain-3{
        max-width: 25%;
    }
    #comments-contain-4{
        max-width: 25%;
    }
}
.content-strange .text-content{
    margin-left: 146px;
    margin-top: 150px;
}
.content-strange .text-content h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 30px;
    color: #22343D;
}
.content-strange .text-content p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}
.content-product{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;

}
.content-product div{
    width: 24%;

    margin-right: 40px;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
}

.content-product div img{
    width: 100%;
}
.content-product div h2{
    padding-left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}
.content-product div h1{
    padding-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}
.content-product div h1:hover{
    color: #02897A;
}
@media (max-width: 1000px){
    .content-strange .text-content{
        margin-left: 60px;
    }
}
.button-product-d{
    display: flex;
    justify-content: center;
    margin-top:60px;
}
.button-product-d div{
    margin: 5px;
    width: 16px;
    height: 16px;
    background: #EFEFEF;
    border-radius: 50%;
}
.button-product-d div:hover{
    background: #02897A;
}
#active-button{
    background: #02897A;
}
.price-table-text{
    margin-top:150px;
    text-align: center;
    margin-bottom: 50px;
}
.price-table-text h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 10px;
    color: #22343D;
}
.price-table-text p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    color: #22343D;
}
.price-table-pro {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.price-table-pro-1{
    padding-bottom: 25px;
    padding-top: 10px;
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 23%;
}
.price-table-pro-1 h1{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}
.price-table-p1{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
}
.price-table-pro-1 p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
}
.price-index{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-index-1 {
    margin-right: 10px;

}
.price-index-1 p{
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    text-align: center;
    color: #02897A;
    margin-top:50px;
    margin-bottom:50px;
}
.price-index-2 .dollar-price {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #02897A;
    text-align: left;
    margin-top:0px;
    margin-bottom:0px;
}
.price-index-2 .price-month {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
    margin-top:5px;
    margin-bottom:0px;
}
.button-price-1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-price{
    margin-bottom: 10px;
    margin-top: 20px;
    background: #02897A;
    border-radius: 8px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
}
.button-price a{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;

}
#price-table-pro-2{
    background: #02897A;
}
#price-table-pro-2 h1{
    color: white;
}
#price-table-pro-2 p{
    color: white
 }
#price-table-pro-2 .price-month{
    color: #E0E0E0;
}
#price-table-pro-2 .button-price{
    background: white;
}
#price-table-pro-2 .button-price a{
    color: #02897A;
}
hr{
    position: absolute;
    left: 32%;
    width: 35%;
    margin-top: 180px;
    background: rgba(189, 197, 218, 0.49);
}
.line-price{
    z-index: 1;
}
.client-text {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    margin: 150px auto 0px auto;
}
.client-text h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 30px;
    color: #22343D;
}
.client-text p{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #22343D;
}
.fa-star{
    color: gold;
}
.client-com {
    display: flex;
    justify-content: center;
}
.client-com-block{
    width: 25%;
    margin: 32px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 35px;
    padding-bottom: 20px;
}
.client-com .rate-com{
    display: flex;
}
.client-com p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.client-profile {
    display: flex;
    align-items: center;
}
.client-profile-img img{
    max-width: 100%;
}
.client-profile-img {
    margin-right: 10px;
}
.client-profile-text h2{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
    margin: 0px;
}
.client-profile-text h3{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0px;
}
.client-com-text {
    max-width: 100%;
}
.boost-product{
    background: #02897A;
    border-radius: 32px;
    margin-top: 150px;
    width: 68%;
    margin-left: auto;
    margin-right: auto;

}
.product-content{
    display: flex;
    align-items: center;
}
.product-content .boost-text h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}
.product-content .boost-img img{
    max-width: 100%;
    flex: 1 0 20%;
}
.product-content .boost-img{
    margin: 14px 36px 0px 20px;

}
.product-content .boost-text{
    margin-top: 30px;
    margin-left: 50px;
    width: 50%;
}
.boost-text .button-boost{
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 60px;
    padding-left: 35px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.boost-text .button-boost a{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #02897A
}
@media (max-width: 1200px){
    .product-content .boost-text h2{
        font-size: 20px;
    }
}
.main-header{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: flex-start;

}
.header-logo, .resource-header, .legal-header, .deal-header{
    width: 20%;

}
.header-logo{
    margin-top: 25px;
}
.header-logo div{
    display: flex;
    margin-top: 15px;
}
.header-logo div img{
    margin-right: 20px;
}
.main-header h2{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #22343D;
}
.main-header p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #22343D;
}
.main-header h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}
.main-header input{
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.button-header{
    box-sizing: border-box;
    background: #02897A;
    border-radius: 4px;
    Width: 131px;
    Height: 39px;
    padding-left: 15px;
    padding-top: 7px;
}
.button-header a{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
header {
 text-align: center;
}